<div class="full_row">
  <h2 class="page_header">Assign Curriculum <%= "to #{current_teacher.full_name}" %></h2>
  <div class="column_2">
    <%= render :partial => 'curriculums/form', :locals => {:curriculum => @curriculum} %>
  </div>
</div>