<div class="full_row">
  <div class="column sign_up_form">
    <div id="form_panel" class="box round light_panel">
      <h2 class="panel_title blue_title">Teacher Login</h2>
      <%= render :partial => 'teacher_sessions/form' %>
    </div>
  </div>
</div>