<div class="return_panel round">
  <div class="close"></div>
  <h3><%= @lesson_template.name %></h3>
  <ul>
    <% @lesson_template.questions.each do |q| %>
      <li class="listed_result">
        <h4><%= q.question %> - <%= q.question_type %></h4>
      </li>
    <% end %>
  </ul>
</div>