<% content_for :page_actions do %>
   <div id="launch_button">
     <%= link_to 'Add Classroom', new_classroom_path, :id => "add_classroom", :class => "button green_button add add_form" %>
   </div>
<% end %>

<div class="content_segment top_hr">
  <h2 class="user_name"><%= (current_teacher.full_name).titleize %></h2>
  <div class="clear"></div>

  <h3>Classrooms</h3>
  <div id="student_lessons" class="round">
    <ul id="student_list">
      <% @classrooms.each do |classroom| %>
        <%= render :partial => 'classrooms/listed_classroom', :locals => {:classroom => classroom} %>
      <% end %>
    </ul>
  </div>

</div>

<% content_for :overlays do %>

<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function() {
      
    });
  </script>
<% end %>