<ul id="listed_lessons">
  <% if lessons.empty? %>
    <li class="listed_lesson round">
      <h4 class="lesson_title">No Lessons Currently Assigned.</h4>
    </li>
  <% else %>
    <% lessons.each do |lesson| %>
      <li class="listed_lesson round">
        <h4 class="lesson_title"><%= lesson.lesson_template.name %></h4>
        <div class="lesson_score">Lesson Type: <%= lesson.lesson_template.name if lesson.lesson_template.name? %></div>
      </li>
    <% end %>
  <% end %>
</ul>