<div class="full_row">
  <h2 class="page_header">New Student</h2>
</div>
<div class="full_row no_top">
  <div class="column_2">
    <%= render :partial => 'students/form' %>
  </div>
</div>

<%= link_to 'Back', students_path %>
