<% content_for :page_actions do %>
  <div id="launch_button">
    <%= link_to 'Assign A Lesson', new_lesson_path(:student_id => @student.id), :id => "assign_lesson", :class => "button green_button add add_form" if current_teacher %>
  </div>
<% end %>

<div class="content_segment top_hr">
  <h2 class="user_name"><%= (@student.full_name).titleize %></h2>
  <div class="clear"></div>

  <h3>Assigned Lessons</h3>
  <div id="student_lessons" class="round">
    <%= render :partial => "students/listed_lessons", :locals => {:lessons => @student.lessons} %>
  </div>
</div>

<% content_for :overlays do %>

<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function() {
      triggers.viewResults();
    });
  </script>
<% end %>