<h3>Editing Lesson: <%= @lesson_template.name %></h3>
<%= render :partial => 'lesson_templates/form', :locals => {:button_text => "Edit Lessson"} %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      form.decorateNestedFormLinks();
    });
  </script>
<% end %>