<h3 class="page_header">Setup New Lesson</h3>
<div class="form_wrap round">
  <%= render :partial => 'lesson_templates/form' %>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      form.decorateNestedFormLinks();
    });
  </script>
<% end %>
