<div id="classroom_lesson_header">
  <div class="lesson_headers">
    <ul class="vertical">
      <% lessons.each do |lesson| %>
      <li><%= lesson.prep_for_vertical %></li>
      <% end %>
    </ul>
  </div>
</div>