<% content_for :banner do %>

<% end %>

<div class="full_row">
  <div class="column index_content">
    <h1 id="index_title" class="blue_title">Let Burro Carry Your Curriculum Workload.</h1>
    <h3>Build your own tests.</h3>
    <p>Welcome to the Classroom Burro, the place where you can create
    a video lesson and add a test or quiz. Or browse lessons, quizzes and tests other teachers have created.</p>

    <p>Teaching is hard enough. Let the Classroom Burro carry your class materials for you.</p>
  </div>
  <div class="column sign_up_form">
    <div id="form_panel" class="box round light_panel">
      <h2 class="panel_title blue_title">Create A Free Account</h2>
      <%= render :partial => "accounts/sign_up_form", :locals => {:button_text => "Create Account"} %>
    </div>
  </div>
</div>


<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      form.validateSignUp();
    });
  </script>
<% end %>