<% content_for :page_actions do %>
   <div id="launch_button">
     <%#= link_to 'Add Students', new_classroom_path, :id => "add_student", :class => "button green_button add add_form" %>
   </div>
<% end %>

<div class="content_segment top_hr">
  <h2 class="user_name"><%= (current_teacher.full_name).titleize %> - <%= link_to(@classroom.name, @classroom) if @classroom %></h2>
  <div class="clear"></div>

  <h3>Lessons - <%= (@student.full_name).titleize if @student %></h3>
  <div id="student_lessons" class="round">
    <ul id="student_list">
      <% @student.lessons.each do |lesson| %>
        <%= render :partial => 'lessons/listed_lesson', :locals => {:lesson => lesson} %>
      <% end %>
    </ul>
  </div>

</div>

<% content_for :overlays do %>

<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function() {
      triggers.loadLessonPanel();
    });
  </script>
<% end %>