<% content_for :page_actions do %>
  <% if current_teacher.admin %>
   <div id="launch_button">
     <%= link_to 'Add New Teacher', new_teacher_path, :id => "add_teacher", :class => "button green_button add add_form" %>
   </div>
  <% end %>
<% end %>

<div class="content_segment top_hr">
  <h2 class="user_name"><%= (current_teacher.full_name).titleize %></h2>
  <div class="clear"></div>

  <h3>Account Teachers</h3>
  <div id="student_lessons" class="round">
    <ul id="student_list">
      <% @teachers.each do |teacher| %>
        <%= render :partial => 'teachers/listed_teacher', :locals => {:teacher => teacher} unless teacher.id == current_teacher.id %>
      <% end %>
    </ul>
  </div>

</div>

<% content_for :overlays do %>

<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function() {
      
    });
  </script>
<% end %>
