<div class="full_row">
  <div class="column sign_up_form">
    <div id="form_panel" class="box round light_panel">
      <h2 class="panel_title blue_title">Add Teacher to Account</h2>
      <%= render :partial => 'teachers/form', :locals => {:button_text => "Create Teacher"}%>
    </div>
  </div>
</div>
