<div class="full_row">
  <h2 class="page_header">Add A Student</h2>
  <div class="column_2">
    <%= render :partial => 'courses/form', :locals => {:course => @course, :classroom_id => @classroom_id} %>
  </div>
</div>