<div class="footer_nav">
  <ul>
    <li class="home">
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "About", about_path %>
    </li>
    <% if current_admin %>
      <li>
        <%= link_to "Admin Logout",logout_path %>
      </li>
    <% else %>
      <li>
        <%= link_to "Admin", login_path %>
      </li>
    <% end %>
  </ul>
</div>
<%#= render :partial => "layouts/search" %>