<div id="logo">
	<h1>
		<%= link_to(root_path) do %>
			<span class="blue">VHC</span><span class="gray">2<span class="space">011</span></span>
		<% end %>
	</h1>

  <ul id="logo_list" class="horz_list">
    <li class="blue first">Verisk Health Conference</li>
    <li class="blue">Sept. 20-22</li>
    <li class="blue last">Boston, MA</li>
  </ul>
</div>